/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
	list-style: none;
}

/* Set core root defaults */
html:focus-within {
	scroll-behavior: smooth;
}

/* Set core body defaults */
body {
	min-height: 100vh;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
	font-size: 1.25rem;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
	width: 100%;
	display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

html {
	font-family: Tiempos Text, serif;
}

ul {
	list-style: none;
}

li {
	font-size: 1.25rem;
}

p {
	margin: 1.7em 0;
}

a {
	color: inherit;
	text-decoration: none;
	background-color: transparent;
	border-bottom: 0.125rem solid #002acc;
}

a:hover {
	border-color: #ff5b5d;
}

/* header */
.main_nav {
	position: relative;
	padding: 0 11vw;
}

.main_nav > ul {
	display: flex;
	margin: auto;
}

.main_nav .logo {
	margin-right: auto;
}

.main_nav li {
	padding: 0 2%;
}

/* main */
main {
	position: relative;
	padding: 0 11vw;
}

article {
	display: block;
}

.middle_block {
	width: 82%;
	margin: auto;
	padding: 7% 8.5%;
	background-color: white;
}

hr {
	margin: 50px 0;
}

.text_block {
	color: black;
}

.text_container {
	padding: 4% 0;
}

.container {
	display: flex;
}

.text_on_edge {
	width: 17%;
	margin-top: 0;
	flex-shrink: 0;
	font-size: 0.875rem;
	line-height: 1.7143;
	font-family: Eina 03, system, -apple-system, BlinkMacSystemFont, sans-serif;
	font-weight: 700;
	color: #828d99;
}

.text_container p {
	margin-top: 0;
	width: 82%;
}

/* hero */
.hero {
	margin: 0 -11vw;
	position: relative;
	min-height: 100vh;
}

.hero_image_container {
	max-height: 100vh;
	overflow: hidden;
}

.hero_image {
	position: relative;
	left: 50%;
	display: block;
	width: 160vh;
	height: auto;
	min-width: 100%;
	min-height: 100%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

.hero_content {
	position: absolute;
	padding: 0 11vw;
	bottom: 0;
	width: 100%;
}

.hero_content p {
	font-size: 0.875rem;
	color: black;
	font-weight: 700;
	line-height: 1.7143;
	font-family: Eina 03, system, -apple-system, BlinkMacSystemFont, sans-serif;
}

.hero_content h2 {
	font-size: 4rem;
	line-height: 1.125;
	font-family: Eina 03, system, -apple-system, BlinkMacSystemFont, sans-serif;
	font-weight: 700;
	letter-spacing: -0.03125rem;
	color: #000;
}

/* section_one */
.section_one {
	margin-top: -80px;
}

.section_one h3 {
	font-size: 3rem;
	line-height: 1.1667;
	font-family: Eina 03, system, -apple-system, BlinkMacSystemFont, sans-serif;
	font-weight: 700;
	letter-spacing: -0.025rem;
	color: #000;
}

form {
	display: flex;
}

.column {
	width: 50%;
	padding: 5px 10px 5px 0;
}

.form label {
	font-size: 0.8rem;
	color: #828d99;
	text-transform: uppercase;
}

input[type="text"] {
	width: 100%;
	margin: 10px 0;
	border: none;
	border-bottom: 1px solid #828d99;
}

.g-recaptcha {
	margin: 20px 0;
}

.column button {
	width: 25%;
	height: 30px;
	background-color: whitesmoke;
	border: 2px solid rebeccapurple;
}

/* section_two */
.trailer_container p,
.Helsinki p,
.website p,
.vision p {
	margin: 20px 0;
	font-size: 0.9375rem;
	line-height: 1.6;
	font-family: Eina 01, system, -apple-system, BlinkMacSystemFont, sans-serif;
	font-style: normal;
	color: #000;
}

.trailer {
	position: relative;
	overflow: hidden;
}

.trailer iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.trailer::after {
	display: block;
	height: 0;
	padding-bottom: 56.25%;
	content: "";
}

.section_two h1 {
	font-size: 3rem;
	line-height: 1.1667;
	font-family: Eina 03, system, -apple-system, BlinkMacSystemFont, sans-serif;
	font-weight: 700;
	letter-spacing: -0.025rem;
	color: #000;
}

blockquote {
	position: relative;
	font-size: 3rem;
	font-weight: 700;
	line-height: 1.1667;
	margin: 0 25px;
	font-family: Eina 03, system, -apple-system, BlinkMacSystemFont, sans-serif;
	color: #000;
}

blockquote::before {
	content: "";
	width: 4px;
	top: 15px;
	bottom: 10px;
	left: -25px;
	display: block;
	position: absolute;
	background-color: #002acc;
}

.stats {
	display: flex;
	flex-wrap: wrap;
}

.stats_block {
	width: 50%;
}

.stats_block h1 {
	font-size: 5rem;
	color: #002acc;
}

.section_two h2 {
	font-size: 2rem;
	line-height: 1.25;
	font-family: Eina 03, system, -apple-system, BlinkMacSystemFont, sans-serif;
	font-weight: 700;
	letter-spacing: -0.01562rem;
	color: #000;
}

/* Footer */
.inner_footer {
	padding: 5% 7%;
	background-color: black;
}

.top_footer {
	display: flex;
	justify-content: space-between;
}

.top_footer a {
	color: white;
	font-size: 1rem;
}

.footer_nav a {
	font-size: 2rem;
	font-weight: 700;
	line-height: 1.2;
}

footer h6,
footer p,
.copyright a {
	color: #c5cdcc;
}

footer h6 {
	font-size: 0.8rem;
	margin-bottom: 10px;
	text-transform: uppercase;
}

.upcoming {
	max-width: 250px;
}

.upcoming a {
	font-size: 1.4rem;
	font-weight: 900;
}

.upcoming p {
	color: #c5cdcc;
	font-size: 0.8rem;
}

.bottom_footer {
	display: flex;
	width: 70%;
	justify-content: space-between;
}

.social_media li {
	display: inline-block;
	margin: -5px 20px -5px 0;
}

.social_media i {
	font-size: 1.3rem;
}

.bottom_footer i {
	color: #828d99;
}

.copyright {
	display: flex;
	justify-content: space-between;
	width: 60%;
	margin: 15px;
}

@media screen and (max-width: 1920px) {
	body {
		font-size: 1.125rem;
		line-height: 1.7778;
	}

	.section_two h1,
	h3 {
		font-size: 2.5rem;
		line-height: 1.2;
	}

	blockquote {
		font-size: 2.5rem;
		line-height: 1.2;
	}

	.section_two h2 {
		font-size: 1.5rem;
		line-height: 1.3333;
	}
}
